<fieldset>
        <legend>Edit Pet Adoption Ad</legend>
        <!-- TITLE -->
        <div class='form-group'>
            <label for='adoption-title'>Name of the Animal</label><br>
            <input class='form-control' id='adoption-title' type='text' name='title' value='{{ adoption.title }}'/>
        </div>
    
        <!-- BREED OF THE ANIMAL-->
        <div class='form-group'>
            <label for='description'>Breed of the Animal</label><br>
            <input class='form-control' id='description' type='text' name='description' value='{{ adoption.description }}' />
        </div>
    
        <!-- DESCRIPTION OF THE ANIMAL-->
        <div class='form-group'>
                <label for='description'>Description of the Animal</label><br>
                <input class='form-control' id='description' type='text' name='description' value='{{ adoption.description }}' />
            </div>

        <!-- PRICE -->
        <div class='form-group'>
            <label for='description'>Price of Animal</label><br>
            <input class='form-control' id='description' type='text' name='description' value='{{ adoption.description }}' />
        </div>
    </fieldset>