<fieldset>
        <legend>Edit Adoption Ad</legend>
        <!-- TITLE -->
        <div class='form-group'>
            <label for='adoption-title'>Title</label><br>
            <input class='form-control' id='adoption-title' type='text' name='title' value='{{ adoption.title }}'/>
        </div>
    
        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='description'>Description</label><br>
            <input class='form-control' id='description' type='text' name='description' value='{{ adoption.description }}' />
        </div>
    
        <!-- PRICE -->
        <div class='form-group'>
            <label for='description'>Description</label><br>
            <input class='form-control' id='description' type='text' name='description' value='{{ adoption.description }}' />
        </div>
    </fieldset>