<!-- templates/adoptions_index.html-->
{% extends 'base.html' %}

{% block content %}
    <h1><center><strong><bold>Friends of All Sizes</bold</strong></center></h1>
    <br>
    <br>
    <br>
    <div class='row'>
        {% for adoption in adoptions %}
            <div class='col-md-3'>
                <h2><a href='/adoptions/{{ adoption._id }}'>{{ adoption.name }}</a></h2>
                <small>{{ adoption.breed }}</small>
            </div>
        {% endfor %}
    </div>
    <br>
    <br>
    <div style = "position:relative; right:200px">
        <img src="/static/img_url/pet.png">
    </div>
{% endblock %}