<!-- templates/playlists_edit.html -->
{% extends 'base.html' %}

{% block content %}

<h4><a href='/'>Back to Home</a></h4>

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/adoptions/{{adoption._id}}'>
            <input type='hidden' name='_method' value='PUT'/>
            {% include 'partials/adoptions_form.html' %}
            <!-- BUTTON -->
            <div class='form-group'>
                <h4><button class='btn btn-primary' type='submit'>Save Pet Adoption Profile</button></h4>
            </div>
        </form>
    </div>
</div>
{% endblock %}