<!-- templates/adoptions_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/adoptions'>
    <fieldset>
    <legend>New Adoption Ad</legend>
    <!-- TITLE -->
    <p>
        <label for='title'>Title</label><br>
        <input type='text' name='title' />
    </p>
    <!-- Image -->
    <p>

    </p>
    <p>
    <!-- Price -->
    </p>
    <!-- DESCRIPTION -->
    <p>
        <label for='description'>Description</label><br>
        <input id='description' type='text' name='description' />
    </p>
    <p>
        <label for='description'>Description</label><br>
        <input type='text' name='description' />
    </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Adoption Ad</button>
    </p>
</form>
{% endblock %}