<!-- templates/adoptions_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ adoption.name }}</h1>
        <h2>Breed: {{ adoption.breed }}</h2>
        <h3>Description: {{ adoption.description }}</h3>
        Cost: ${{ adoption.price }}
        <img src="{{ adoption.image_url }}"><br>

        <p><a href='/adoptionss/{{ adoption._id }}/edit'>Edit Adoption Ad</a></p>
        <p><form method='POST' action='/adoptions/{{ adoption._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete Adoption Ad</button>
        </form></p>
    </div>
</div>
{% endblock %}